.button_block {
  margin: 10px 0 20px 0;
}

.checkbox_block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  a {
    font-size: 14px;
    line-height: 17px;
    color: #2D2E46;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bottom {
  text-align: center;
  p {
    font-size: 14px;
    line-height: 24px;
    color: #2D2E46;
    padding-bottom: 20px;
  }

  a {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #21268F;
  }
}