.superInput {
  margin: 20px 10px 10px 10px;
  background: lightpink;
  color: darkblue;
}

.errorInput {
  border: 3px solid lime;
  background: red;
  margin: 10px;
  color: aquamarine;
}

.error {
  color: red;
  height: 21px;
  margin-left: 10px;
}
