.default {
  background: darkolivegreen;
  color: antiquewhite;
  margin: 20px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

.default:disabled {
  opacity: 0.5;
}

.red {
  background: red;
}
