.button {
  border: none;
  width: 100%;

  &:disabled {
    opacity: 0.6;
  }

  &__rounded {
    height: 35px;
    border-radius: 30px;
    font-size: 16px;
  }

  &__default {
    height: 33px;
    border-radius: 2px;
    font-size: 14px;
  }

  &__blue {
    background: #21268F;
    color: white;
  }

  &__light_blue {
    background: #D7D8EF;
    color: rgba(33, 38, 143, 0.8);
  }
  
  &__red {
    background-color: #F1453D;
    color: white;
  }
}